{{>layouts/header}}
<div class="container">
    <form action="/articles" method="post">
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Title</label>
            <input type="text" class="form-control" id="InputEmail" name="title" aria-describedby="title">
            <div id="emailHelp" class="form-text">제목을 입력하세요</div>
        </div>
        <div class="mb-3">
            <label for="InputContent" class="form-label">Content</label>
            <input type="text" class="form-control" id="InputContent" name="content" aria-describedby="content">
            <div id="contentHelp" class="form-text">내용을 입력하세요</div>
        </div>
        <button type="submit" class="btn btn-primary">제출</button>
    </form>
</div>
{{>layouts/footer}}